node_modules/*
.idea
doc/
npm-debug.log
coverage
.secrets.json
*.env
*.dev
.DS_Store
.idea/*
Dockerfile
docker-compose.yml
package-lock.json

.idea/
node_modules/
/.idea/jsLibraryMappings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/testsheets-manage.iml
/.idea/vcs.xml
/.idea/watcherTasks.xml
/.idea/workspace.xml
